<!DOCTYPE html>
<html>
    <head>
        <title>tell me medicine</title>
    </head>
    <body>
    <h1>教えてメディシン</h1>
    <form action="/add" method="post">
        <input type="text" name="title" placeholder="title">
        <input type="text" name="time" placeholder="time">
        <input type="submit" value="Add">
    </form>
    <form action="/delete" method="post" id="delete">
        <input type="submit" value="チェックした項目を削除する">
    </form>

    {% for medicine in all_med %}
    <div>
        <input type="checkbox" name="delete" form="delete" value={{medicine.id}}>
        {{medicine.title}}：（{{medicine.time}}）
    </div>
    {% endfor %}
    </body>
</html>